// JourneyMap Konfigurationsdatei. Ändern auf eigene Gefahr!
// Für Benutzung in allen Welten, platziere hier: journeymap\config\5.5\
// Für weitere Informationen, gehe zu: http://journeymap.info/Options_Manager
{
  "managerEnabled": "true",
  "beaconEnabled": "false",
  "showTexture": "false",
  "showStaticBeam": "false",
  "showRotatingBeam": "true",
  "showName": "false",
  "showDistance": "false",
  "autoHideLabel": "true",
  "boldLabel": "false",
  "fontScale": "2",
  "textureSmall": "true",
  "maxDistance": "0",
  "minDistance": "4",
  "createDeathpoints": "true",
  "autoRemoveDeathpoints": "true",
  "autoRemoveDeathpointDistance": "2",
  "showDeathpointlabel": "true",
  "teleportCommand": "/tp {name} {x} {y} {z}",
  "dateFormat": "MM-dd-yyyy",
  "timeFormat": "HH:mm:ss",
  "configVersion": "5.5.8"
}