// JourneyMap Konfigurationsdatei. Ändern auf eigene Gefahr!
// Für Benutzung in allen Welten, platziere hier: journeymap\config\5.5\
// Für weitere Informationen, gehe zu: http://journeymap.info/Options_Manager
{
  "showKeys": "true",
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallDots",
  "showMobHeading": "true",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "true",
  "fontScale": "1",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "night",
  "zoomLevel": "2",
  "configVersion": "5.5.8"
}