// JourneyMap Konfigurationsdatei. Ändern auf eigene Gefahr!
// Für Benutzung in allen Welten, platziere hier: journeymap\config\5.5\
// Für weitere Informationen, gehe zu: http://journeymap.info/Options_Manager
{
  "enabled": "false",
  "port": "8080",
  "googleMapApiDomain": ".com",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.5.8"
}