// JourneyMap Konfigurationsdatei. Ändern auf eigene Gefahr!
// Für Benutzung in allen Welten, platziere hier: journeymap\config\5.5\
// Für weitere Informationen, gehe zu: http://journeymap.info/Options_Manager
{
  "gameTimeRealFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "enabled": "true",
  "shape": "Circle",
  "position": "TopRight",
  "showDayNight": "true",
  "info1Label": "Blank",
  "info2Label": "GameTime",
  "info3Label": "Location",
  "info4Label": "Biome",
  "sizePercent": "30",
  "frameAlpha": "100",
  "terrainAlpha": "100",
  "orientation": "North",
  "compassFontScale": "1",
  "showCompass": "true",
  "showReticle": "true",
  "reticleOrientation": "Compass",
  "active": true,
  "playerDisplay": "LargeDots",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallDots",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "true",
  "fontScale": "1",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "false",
  "showEntityNames": "false",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.5.8"
}