# Configuration file

####################
# gsbarghest
####################

gsbarghest {
    S:biomegroups <GSBARGHEST_DEFAULT>
    B:canSpawn=true
    I:frequency=5
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsdamnedwarrior
####################

gsdamnedwarrior {
    S:biomegroups <GSDAMNEDWARRIOR_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsdrowned
####################

gsdrowned {
    S:biomegroups <GSDROWNED_DEFAULT>
    B:canSpawn=true
    I:frequency=15
    I:maxChunk=1
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gshuskskullcrawler
####################

gshuskskullcrawler {
    S:biomegroups <GSHUSKSKULLCRAWLER_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsmummy
####################

gsmummy {
    S:biomegroups <GSMUMMY_DEFAULT>
    B:canSpawn=true
    I:frequency=20
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsphantomdiver
####################

gsphantomdiver {
    S:biomegroups <GSPHANTOMDIVER_DEFAULT>
    B:canSpawn=true
    I:frequency=5
    I:maxChunk=1
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gspigmanskullcrawler
####################

gspigmanskullcrawler {
    S:biomegroups <GSPIGMANSKULLCRAWLER_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gspossessedarmor
####################

gspossessedarmor {
    S:biomegroups <GSPOSSESSEDARMOR_DEFAULT>
    B:canSpawn=true
    I:frequency=20
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsraven
####################

gsraven {
    S:biomegroups <GSRAVEN_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# gsskeleton
####################

gsskeleton {
    S:biomegroups <GSSKELETON_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsskeletoncat
####################

gsskeletoncat {
    S:biomegroups <GSSKELETONCAT_DEFAULT>
    B:canSpawn=true
    I:frequency=50
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsskeletondog
####################

gsskeletondog {
    S:biomegroups <GSSKELETONDOG_DEFAULT>
    B:canSpawn=true
    I:frequency=50
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsskeletonhorse
####################

gsskeletonhorse {
    S:biomegroups <GSSKELETONHORSE_DEFAULT>
    B:canSpawn=true
    I:frequency=5
    I:maxChunk=6
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# gsskeletonraider
####################

gsskeletonraider {
    S:biomegroups <GSSKELETONRAIDER_DEFAULT>
    B:canSpawn=true
    I:frequency=2
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsskullcrawler
####################

gsskullcrawler {
    S:biomegroups <GSSKULLCRAWLER_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsstrayskullcrawler
####################

gsstrayskullcrawler {
    S:biomegroups <GSSTRAYSKULLCRAWLER_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsswampthing
####################

gsswampthing {
    S:biomegroups <GSSWAMPTHING_DEFAULT>
    B:canSpawn=true
    I:frequency=50
    I:maxChunk=3
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gstoxicsludge
####################

gstoxicsludge {
    S:biomegroups <GSTOXICSLUDGE_DEFAULT>
    B:canSpawn=true
    I:frequency=5
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=2
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gsvampirebat
####################

gsvampirebat {
    S:biomegroups <GSVAMPIREBAT_DEFAULT>
    B:canSpawn=true
    I:frequency=30
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gswitheredbat
####################

gswitheredbat {
    S:biomegroups <GSWITHEREDBAT_DEFAULT>
    B:canSpawn=true
    I:frequency=40
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gswitherskullcrawler
####################

gswitherskullcrawler {
    S:biomegroups <GSWITHERSKULLCRAWLER_DEFAULT>
    B:canSpawn=true
    I:frequency=5
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gszombiecat
####################

gszombiecat {
    S:biomegroups <GSZOMBIECAT_DEFAULT>
    B:canSpawn=true
    I:frequency=50
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gszombiedog
####################

gszombiedog {
    S:biomegroups <GSZOMBIEDOG_DEFAULT>
    B:canSpawn=true
    I:frequency=50
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gszombiehorse
####################

gszombiehorse {
    S:biomegroups <GSZOMBIEHORSE_DEFAULT>
    B:canSpawn=true
    I:frequency=5
    I:maxChunk=6
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# gszombieraider
####################

gszombieraider {
    S:biomegroups <GSZOMBIERAIDER_DEFAULT>
    B:canSpawn=true
    I:frequency=2
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gszombieskullcrawler
####################

gszombieskullcrawler {
    S:biomegroups <GSZOMBIESKULLCRAWLER_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


